
.map__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    108.56deg,
    #bfeeff 0%,
    #ffe6f7 56.93%,
    #ffe6e6 100%
  );
}

.bg1 {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    200px 200px at 95% 5%,
    rgba(0, 93, 164, 0.4) 0%,
    rgba(0, 93, 164, 0) 100%
  );
}

.bg2 {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    200px 300px at 2% 50%,
    hsl(36, 100%, 50%, 0.4) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.contentContainer {
  width: 1700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 132px;
}

.contentContainer > .topcont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.contentContainer > .topcont > img {
  width: 867px;
  height: 648px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contentContainer > .topcont > .btmbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.barctn1 ul,
.barctn2 ul {
  list-style: none;
}

.barctn1 ul li::before,
.barctn2 ul li::before {
  content: "•";
  display: inline-block;
  width: 0.5em;
  margin-left: -0.5em;
  line-height: 1;
  vertical-align: middle;
}

.barctn1 ul li::before {
  color: #007ad1;
  font-size: 40px;
}

.barctn2 ul li::before {
  color: #f38e37;
  font-size: 40px;
}

.bottomcont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  gap: 122px;
}

.bottomcont > .item {
  width: 262px;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url(./Container.png);
  /* border: 1px solid black; */
}

.bottomcont > .item > h1 {
  color: #474747;
  font-family: ITC Avant Garde Gothic;
  font-size: 62px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
  text-align: left;
  margin-left: 31px;
}

.bottomcont > .item > h5 {
  color: #474747;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: ITC Avant Garde Gothic;
  font-size: 20.1px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.8px;
  margin: 0;
  text-align: left;
  margin-left: 31px;
}
