.cookies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookiesContainer {
  /* width: 100%; */
  width: 1700px;
}

.cookiesHeader {
  /* width: 1700px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookiesLeftHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cookiesLeftHeader img {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.cookiesLeftHeader p {
  color: #8f96a1;
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 15.328px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.7px; /* 135.046% */
}

.cookiesRightHeader {
  width: 258px;
  height: 20px;
  display: flex;
  padding: 12px 11px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--swissborg-com-manatee-50, rgba(143, 150, 161, 0.5));
}

.cookiesRightHeader p {
  color: var(--swissborg-com-black, #000);
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 13.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px; /* 67.669% */
}

.cookiesRightHeader img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.cookiesFooterContainer {
  display: flex;
  justify-content: space-between;
}

.cookiesFooter {
  width: 250px;
}

.cookiesFooter h6 {
  color: #8f96a1;
  font-family: ITC Avant Garde Gothic;
  font-size: 15.047px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.7px;
}

.cookiesFooterList {
  color: #8f96a1;
  font-family: ITC Avant Garde Gothic;
  font-size: 14.766px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.7px;
  position: relative;
}

.cookiesFooterList p span {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50%;
  top: 35px;
  border-radius: 2px;
  background: var(--Blue, #007cd7);
  color: var(--swissborg-com-nero, var(--Color, #fff));
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 12.25px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.1px;
}

@media only screen and (max-width: 1800px) and (min-width: 1500px) {
  .cookiesContainer {
    width: 1420px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1250px) {
  .cookiesContainer {
    width: 1200px;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 980px) {
  .cookiesContainer {
    width: 950px;
  }
  .cookiesFooterList p span {
    position: absolute;
    right: 35%;
    top: 35px;
  }
}

@media screen and (max-width: 980px) and (min-width: 601px) {
  .cookies {
    flex-wrap: wrap;
  }
  .cookiesContainer {
    width: 90%;
  }

  .cookiesRightHeader {
    width: 143px;
    height: 20px;
  }

  .cookiesFooterContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
  }
  .cookiesFooter {
    width: 150px;
  }
  .cookiesFooterContainer {
    flex-wrap: wrap;
  }
  .cookiesFooterList p span {
    position: absolute;
    right: 20%;
    top: 35px;
  }
}
