* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Landing_page_Container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Landing_top_bg {
  width: 100%;
  min-height: 1000px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.video-background {
  width: 100%;
  min-height: inherit;
  max-height: fit-content;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: -webkit-fill-available;
  object-fit: fill;
  z-index: -100;
}

.overlaydiv {
  position: absolute;
  top: 10;
  right: 0;
  width: 68%;
  height: 90%;
  margin-right: 1%;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./video/x.png);
  z-index: 10;
  /* border: 3px solid red; */
}

.bannerContentContainer {
  width: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 130px;
  min-height: 1000px;
  max-height: fit-content;
  z-index: 1;
}

.bannerContentContainer > h1 {
  color: #f6f6f6;
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 11rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150px;
  /* background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.bannerContentWrapper {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerContent {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.bannerContent > div > h1 {
  color: #f6f6f6;
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 1%;
}

.bannerContent > div > p {
  color: #f6f6f6;
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 5%;
  margin: 0 auto;
}

.bg_subheading {
  height: fit-content;
}
.bannerContentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  color: white;
}

#getStartedBtn {
  width: fit-content;
  box-sizing: border-box;
  padding: 10px 30px 10px 30px;

  background: #ffa200;
  border: 1px solid #ffa200;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  /* line-height: 2.3rem; */
}

#learnMoreBtn {
  color: #fff !important;
  font-family: ITC Avant Garde Gothic;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.nexus_rightarrow img {
  color: white !important;
  fill: white;
}

/* ---------------second_bg_img-contaniner--------------------------- */
.second_bg_img-contaniner {
  background: url("./side-view-woman.png");
  background-size: 100% 100%;
  width: 100%;
  min-height: 500px;
  max-height: fit-content;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.second_bg_content {
  /* border: 2px solid red; */
  /* width: 55%; */
  width: 1700px;
  min-height: fit-content;
  margin: 6% 0;
  /* padding-top: 6%;
    padding-bottom: 6%;
    row-gap: 1%; */

  /* padding-left: 20%; */
}

.second_bg_heading h1 {
  color: #f6f6f6;
  font-family: ITC Avant Garde Gothic;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 43.191px;

  padding: 1% 0%;
  text-align: left;
}

.second_bg_para1 p {
  width: 55%;

  color: #f6f6f6;
  font-family: ITC Avant Garde Gothic;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 43.191px;
  padding: 1% 0%;
  text-align: left;
}

.second_bg_para2 p {
  width: 55%;
  color: #f6f6f6;
  font-family: ITC Avant Garde Gothic;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
  /* padding: 1%; */
  text-align: left;
}

/* third_bg_contaniner--------------------------------------------------- */

.third_bg_contaniner {
  min-height: 700px;
  max-height: fit-content;
  background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* width resolution ------------ */
.third_bg_content {
  width: 1700px;
  /* border: 2px solid red; */
  max-height: fit-content;
}

.third_bg_upper {
  /* border: 2px solid blue; */
  min-height: 300px;
  max-height: fit-content;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.third_bg_upper div h1 {
  /* font-size: 50px; */
  color: #f6f6f6;
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-size: 40.687px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.061px;
  text-transform: capitalize;
}

.third_bg_upper div p {
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #f6f6f6;
  text-align: center;
  font-family: ITC Avant Garde Gothic;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.132px;
}

.Ark_logo {
  width: 180px;
  /* height: fit-content; */
  padding: 1%;
}
.Ark_logo img {
  width: 100%;
  /* height: 100%; */
}

.mobius_logo_ {
  width: 180px;
  padding: 1%;
}

.mobius_logo_ img {
  width: 180px;
  margin: 5px;
}

.third_bg_lower_horizontal {
  /* border: 2px solid blue; */

  min-height: 300px;
  max-height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  margin-top: 5%;
}

.third_bg_left_content {
  /* border: 2px solid blue; */

  min-height: 300px;
  max-height: fit-content;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.third_bg_lower_para1 p {
  color: #f6f6f6;
  text-align: justify;
  font-family: ITC Avant Garde Gothic;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.132px;
}

.third_bg_right_content {
  /* border: 2px solid blue; */

  min-height: 300px;
  max-height: fit-content;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.third_bg_lower_para2 p {
  color: #f6f6f6;
  text-align: justify;
  font-family: ITC Avant Garde Gothic;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.132px;
}

/* -------------mobius_won_wrapper--------- */
.mobius_won_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobius_won_content {
  position: relative;
  width: 1700px;
  min-height: 180px;
  max-height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8% auto;
  border-radius: 8px;
  border: 1px solid #ffcc47;
  background: linear-gradient(
    91deg,
    rgba(5, 151, 255, 0.1) -1.56%,
    rgba(255, 205, 130, 0.1) 71.36%,
    rgba(255, 162, 0, 0.1) 101.57%
  );
  backdrop-filter: blur(2px);
  padding-left: 2%;
}

.content_nab-show {
  width: 300px;
}

.content_nab-show img {
  position: absolute;
  top: -50px;
  left: 50px;
  width: 200px;
  height: 250px;
}

.content_text p {
  width: 95%;
  color: #404040;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: ITC Avant Garde Gothic;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}

.winner_img {
  width: 400px;
  height: 120px;
}

.winner_img img {
  width: 80%;
}

/* ------------------------.android_swiper_heading-------- */
.android_swiper_heading {
  color: #cdcdcd;
  font-family: ITC Avant Garde Gothic;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 107.143% */
  text-align: center;
}

/* @media only screen and (max-width: 2500px) and (min-width: 2000px) {
}
@media only screen and (max-width: 2000px) and (min-width: 1800px) {
}
@media only screen and (max-width: 1800px) and (min-width: 1500px) {
}
@media only screen and (max-width: 1500px) and (min-width: 1400px) {
}
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
}

@media screen and (max-width: 800px) and (min-width: 680px) {
}

@media screen and (max-width: 680px) and (min-width: 580px) {
}

@media screen and (max-width: 580px) and (min-width: 480px) {
}

@media screen and (max-width: 480px) and (min-width: 380px) {
}

@media screen and (max-width: 380px) and (min-width: 300px) {
} */

@media only screen and (max-width: 1800px) and (min-width: 1440px) {
  /* //DONT DELETE THE COMMENTED CODE IN THIS MEDIA QUERY RANGE---------will used to improve responsiveness in future for other ranges */
  .Landing_top_bg {
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 1420px;
    padding-top: 120px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150px;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 36px;
  }

  .bannerContent > div > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
  }
  /*   
    .bg_subheading {
      height: fit-content;
    } */

  /* .bannerContentBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      color: white;
    } */

  /* #getStartedBtn {
      width: fit-content;
      box-sizing: border-box;
      padding: 10px 30px 10px 30px;
  
      background: #ffa200;
      border: 1px solid #ffa200;
      border-radius: 10px;
      text-align: center;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 2.3rem;
    } */

  /* #learnMoreBtn {
      color: #fff !important;
      font-family: ITC Avant Garde Gothic;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    } */

  /* .nexus_rightarrow img {
      color: white !important;
      fill: white;
    } */

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 500px;
    max-height: fit-content;
  }

  .second_bg_content {
    width: 1420px !important;
    min-height: fit-content;
    /* margin: 5% 0; */
    /* padding-left: 4%; */
  }

  .second_bg_heading h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para1 p {
    /* width: 55%; */
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para2 p {
    width: 55%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  /* .third_bg_contaniner {
    min-height: 800px;
    max-height: fit-content;
    background: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  /* width resolution ------------ */
  .third_bg_content {
    width: 1420px;
    max-height: fit-content;
  }

  /* .third_bg_upper {
    min-height: 300px;
    max-height: fit-content;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  } */

  .third_bg_upper div h1 {
    color: #f6f6f6;
    text-align: center;
    font-family: ITC Avant Garde Gothic;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 122.061px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.4rem;
    /* width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400; */
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 150px;
    /* height: fit-content; */
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
    /* height: 100%; */
  }

  .mobius_logo_ {
    width: 150px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 180px;
    margin: 5px;
  }

  /* .third_bg_lower_horizontal {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    margin-top: 5%;
  } */

  /* .third_bg_left_content {  
    min-height: 300px;
    max-height: fit-content;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  } */

  /* .third_bg_lower_para1 p {
    color: #f6f6f6;
    text-align: justify;
    font-family: ITC Avant Garde Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.132px;
  } */

  /* .third_bg_right_content {  
    min-height: 300px;
    max-height: fit-content;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  } */

  /* .third_bg_lower_para2 p {
    color: #f6f6f6;
    text-align: justify;
    font-family: ITC Avant Garde Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.132px;
  } */

  /* -------------mobius_won_wrapper--------- */

  .mobius_won_content {
    width: 1420px;
    max-height: fit-content;
  }


  /* .content_nab-show img {
    width: 400px;
    height: 300px;
  }

  .content_text p {
    width: 95%;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
  }

  .winner_img {
    width: 400px;
    height: 70px;
  }

  .winner_img img {
    width: 80%;
  } */
}

@media only screen and (max-width: 1440px) and (min-width: 1250px) {
  .Landing_top_bg {
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 1200px;
    padding-top: 120px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150px;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 36px;
  }

  .bannerContent > div > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
  }

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 320px;
    max-height: fit-content;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 1200px !important;
    min-height: fit-content;
    margin: 1% 0;
    padding-left: 4%;
  }

  .second_bg_heading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 35px;
    /* padding: 1% 0%; */
  }
  .second_bg_para1 p {
    /* width: 55%; */
    font-size: 2rem;
    font-weight: 500;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para2 p {
    width: 55%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  /* width resolution ------------ */
  .third_bg_content {
    width: 1200px !important;
    max-height: fit-content;
  }

  .third_bg_upper div h1 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 122.061px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.4rem;
    /* width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400; */
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 150px;
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
  }

  .mobius_logo_ {
    width: 150px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 180px;
    margin: 5px;
  }

  /* -------------mobius_won_wrapper--------- */

  .mobius_won_content {
    width: 1200px !important;
    max-height: fit-content;
  }


  .content_nab-show img {
    width: 250px;
    height: 250px;
  }

  .content_text p {
    width: 90%;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
  }

  .winner_img {
    width: 300px;
    height: 70px;
  }

  .winner_img img {
    width: 80%;
  }
}

@media screen and (max-width: 1250px) and (min-width: 980px) {
  .Landing_top_bg {
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 950px !important;
    padding-top: 120px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150px;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
  }

  .bannerContent > div > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
  }

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 320px;
    max-height: fit-content;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 950px !important;
    min-height: fit-content;
    margin: 1% 0;
    padding-left: 4%;
  }

  .second_bg_heading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 35px;
    /* padding: 1% 0%; */
  }
  .second_bg_para1 p {
    /* width: 55%; */
    font-size: 2rem;
    font-weight: 500;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para2 p {
    width: 55%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  /* width resolution ------------ */
  .third_bg_content {
    width: 950px !important;
    max-height: fit-content;
  }

  .third_bg_upper div h1 {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 122.061px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    /* width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400; */
    line-height: 22px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 130px;
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
    /* height: 100%; */
  }

  .mobius_logo_ {
    width: 130px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 130px;
    margin: 5px;
  }

  .third_bg_lower_para1 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_lower_para2 p {
    color: #f6f6f6;
    text-align: justify;
    font-family: ITC Avant Garde Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 120%; */
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  /* -------------mobius_won_wrapper--------- */

  .mobius_won_content {
    width: 90%;
    min-height: 160px;
    /* padding-left: 2%; */
    margin: 8% auto;
  }

  /* .content_nab-show {
    width: 300px;
    height: 160px;
  } */

  .content_nab-show img {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 180px;
    height: 220px;
  }

  .content_text p {
    width: 90%;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    padding-left: 2%;
  }

  .winner_img {
    width: 220px;
    height: 70px;
  }

  .winner_img img {
    width: 90%;
  }
}

@media screen and (max-width: 980px) and (min-width: 780px) {
  .Landing_top_bg {
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 950px !important;
    padding-top: 120px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150px;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
  }

  .bannerContent > div > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
  }

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 300px;
    max-height: fit-content;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 90% !important;
    min-height: fit-content;
    margin: 1% 0;
    padding-left: 4%;
  }

  .second_bg_heading h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
    /* padding: 1% 0%; */
  }
  .second_bg_para1 p {
    /* width: 55%; */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 25px;
    /* padding: 1% 0%; */
  }

  .second_bg_para2 p {
    width: 55%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  /* width resolution ------------ */
  .third_bg_content {
    width: 90% !important;
    max-height: fit-content;
  }

  /* .third_bg_upper {
    min-height: 300px;
    max-height: fit-content;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  } */

  .third_bg_upper div h1 {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50.061px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    width: 90%;
    /* margin: 0 auto;
    text-align: center;
    font-weight: 400; */
    line-height: 22px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 130px;
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
    /* height: 100%; */
  }

  .mobius_logo_ {
    width: 130px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 130px;
    margin: 2px;
  }

  .third_bg_lower_para1 p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_lower_para2 p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* letter-spacing: -0.132px; */
  }

  /* -------------mobius_won_wrapper--------- */

  .mobius_won_content {
    width: 90%;
    min-height: 160px;
    /* padding-left: 2%; */
    margin: 8% auto;
  }

  /* .content_nab-show {
    width: 300px;
    height: 160px;
  } */

  .content_nab-show img {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 180px;
    height: 220px;
  }

  .content_text p {
    width: 90%;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    padding-left: 2%;
  }

  .winner_img {
    width: 220px;
    height: 70px;
  }

  .winner_img img {
    width: 90%;
  }
}

@media screen and (max-width: 780px) and (min-width: 680px) {
  .Landing_top_bg {
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 950px !important;
    padding-top: 120px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150px;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
  }

  .bannerContent > div > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
  }

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 300px;
    max-height: fit-content;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 90% !important;
    min-height: fit-content;
    margin: 1% 0;
    padding-left: 4%;
  }

  .second_bg_heading h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 25px;
    /* padding: 1% 0%; */
  }
  .second_bg_para1 p {
    /* width: 55%; */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    /* padding: 1% 0%; */
  }

  .second_bg_para2 p {
    width: 55%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  /* width resolution ------------ */
  .third_bg_content {
    width: 90% !important;
    max-height: fit-content;
  }

  .third_bg_upper div h1 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    width: 90%;
    /* margin: 0 auto;
    text-align: center;
    font-weight: 400; */
    line-height: 22px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 130px;
    /* height: fit-content; */
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
    /* height: 100%; */
  }

  .mobius_logo_ {
    width: 140px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 130px;
    margin: 2px;
  }

  .third_bg_lower_para1 p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_lower_para2 p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* letter-spacing: -0.132px; */
  }

  /* -------------mobius_won_wrapper--------- */

  .mobius_won_content {
    width: 90%;
    min-height: 160px;
    /* padding-left: 2%; */
    margin: 8% auto;
  }

  .content_nab-show {
    width: 300px;
  }

  .content_nab-show img {
    position: absolute;
    top: -30px;
    left: 20px;
    width: 180px;
    height: 200px;
  }

  .content_text p {
    width: 95%;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    padding-left: 2%;
  }

  .winner_img {
    width: 220px;
    height: 70px;
  }

  .winner_img img {
    width: 90%;
  }
  .android_swiper_heading h1{
    font-size: 32px;
  }
}

@media screen and (max-width: 680px) and (min-width: 580px) {
  .Landing_top_bg {
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 950px !important;
    padding-top: 120px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 6.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
  }

  .bannerContent > div > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-bottom: 5%;
    /* margin: 0 auto; */
  }

  /* .bannerContentBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      color: white;
    } */

  /* #getStartedBtn {
      width: fit-content;
      box-sizing: border-box;
      padding: 10px 30px 10px 30px;
  
      background: #ffa200;
      border: 1px solid #ffa200;
      border-radius: 10px;
      text-align: center;
      color: #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 2.3rem;
    } */

  /* #learnMoreBtn {
      color: #fff !important;
      font-family: ITC Avant Garde Gothic;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    } */

  /* .nexus_rightarrow img {
      color: white !important;
      fill: white;
    } */

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 300px;
    max-height: fit-content;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 90% !important;
    min-height: fit-content;
    margin: 1% 0;
    padding-left: 4%;
  }

  .second_bg_heading h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
    /* padding: 1% 0%; */
  }
  .second_bg_para1 p {
    /* width: 55%; */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 25px;
    /* padding: 1% 0%; */
  }

  .second_bg_para2 p {
    width: 55%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  .third_bg_contaniner {
    min-height: 800px;
    max-height: fit-content;
  }

  /* width resolution ------------ */
  .third_bg_content {
    width: 90% !important;
    max-height: fit-content;
  }

  .third_bg_upper {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_upper div h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 180px;
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
    /* height: 100%; */
  }

  .mobius_logo_ {
    width: 130px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 160px;
    margin: 5px;
  }

  .third_bg_lower_horizontal {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    margin-top: 5%;
    flex-direction: column;
  }

  .third_bg_left_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    text-align: center;
  }

  .third_bg_lower_para1 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
  }

  .third_bg_lower_para2 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 120%; */
    line-height: 30px;
    letter-spacing: -0.132px;
  
  }
    /* -------------mobius_won_wrapper--------- */

    .mobius_won_content {
      width: 90%;
      min-height: 160px !important;
      /* padding-left: 2%; */
      /* margin: 8% auto; */
    }
  
    .content_nab-show {
      /* border: 2px solid red; */
      width: 400px;
      height: 160px;
    }
  
    .content_nab-show img {
      position: absolute;
      top: -35px;
      left: 20px;
      width: 180px;
      height: 210px;
    }
  
    .content_text p {
      width: 95%;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 800;
      line-height: 30px;
      text-align: center;
      padding-left: 2%;
    }
  
    .winner_img {
      width: 220px;
      height: 70px;
    }
  
    .winner_img img {
      width: 90%;
    }

    .android_swiper_heading h1{
      font-size: 32px;
    }
}

@media screen and (max-width: 580px) and (min-width: 480px) {
  .Landing_top_bg {
    min-height: 800px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 90% !important;
    padding-top: 100px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 100px;
    text-align: left;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
  }

  .bannerContent > div > p {
    width: 130%;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    /* margin-bottom: 5%; */
    text-align: left;
  }
  /* 
    .bg_subheading {
      height: fit-content;
    } */
  .bannerContentBtn {
    width: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* column-gap: 20px;
      color: white; */
  }

  #getStartedBtn {
    display: flex;
    /* width: 325px; */
    width: 210%;
    height: 36px;
    padding: 30px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
  }

  #learnMoreBtn {
    margin: 5% auto !important;
    width: 210%;
  }

  /* .nexus_rightarrow img {
      color: white !important;
      fill: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto !important;
    } */

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 500px;
    max-height: fit-content;
    background: #000;
  }

  .mobile_view_img {
    display: block !important;
    padding-top: 100px;
    /* width: 100%; */
  }

  .mobile_view_img img {
    width: 100%;
    height: 250px;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 90% !important;
    min-height: fit-content;
    margin: 10% 0;
    padding-left: 1%;
  }

  .second_bg_heading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para1 p {
    width: 95%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 43.191px;
    padding: 5% 0% !important;
  }

  .second_bg_para2 p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  .third_bg_contaniner {
    min-height: 800px;
    max-height: fit-content;
  }

  /* width resolution ------------ */
  .third_bg_content {
    width: 90% !important;
    max-height: fit-content;
  }

  .third_bg_upper {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_upper div h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 180px;
    /* height: fit-content; */
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
    /* height: 100%; */
  }

  .mobius_logo_ {
    width: 130px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 160px;
    margin: 5px;
  }

  .third_bg_lower_horizontal {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    margin-top: 5%;
    flex-direction: column;
  }

  .third_bg_left_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    text-align: center;
  }

  .third_bg_lower_para1 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
  }

  .third_bg_lower_para2 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 120%; */
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  /* -------------mobius_won_wrapper--------- */

  .mobius_won_content {
    width: 90%;
    min-height: 160px;
    max-height: fit-content;
    margin-top: 30%;
  }

  .content_nab-show {
    width: 300px;
  }

  .content_nab-show img {
    position: absolute;
    top: -100px;
    left: 160px;
    width: 150px !important;
    height: 150px;
    padding: 1%;
  }

  .content_text p {
    width: 300px !important;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    /* margin-top: 2%; */
    padding-top: 30px;
  }

  .winner_img {
    width: 350px;
    height: 120px !important;
  }

  .winner_img img {
    width: 90% !important;
  }
  .android_swiper_heading h1{
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) and (min-width: 380px) {
  .Landing_top_bg {
    min-height: 800px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 90% !important;
    padding-top: 100px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
  }

  .bannerContent > div > p {
    width: 130%;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    /* margin-bottom: 5%; */
    text-align: left;
  }
  /* 
    .bg_subheading {
      height: fit-content;
    } */
  .bannerContentBtn {
    width: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* column-gap: 20px;
      color: white; */
  }

  #getStartedBtn {
    display: flex;
    /* width: 325px; */
    width: 210%;
    height: 36px;
    padding: 30px 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
  }

  #learnMoreBtn {
    margin: 5% auto !important;
    width: 210%;
  }

  /* .nexus_rightarrow img {
      color: white !important;
      fill: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto !important;
    } */

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 500px;
    max-height: fit-content;
    background: #000;
  }

  .mobile_view_img {
    display: block !important;
    /* width: 100%; */
    padding-top: 70px;
  }

  .mobile_view_img img {
    width: 100%;
    height: 300px;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 90% !important;
    min-height: fit-content;
    margin: 10% 0;
    padding-left: 1%;
  }

  .second_bg_heading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para1 p {
    width: 95%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 43.191px;
    padding: 5% 0% !important;
  }

  .second_bg_para2 p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  .third_bg_contaniner {
    min-height: 800px;
    max-height: fit-content;
  }

  /* width resolution ------------ */
  .third_bg_content {
    width: 90% !important;
    max-height: fit-content;
  }

  .third_bg_upper {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_upper div h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 150px;
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
  }

  .mobius_logo_ {
    width: 130px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 160px;
    margin: 5px;
  }

  .third_bg_lower_horizontal {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    margin-top: 5%;
    flex-direction: column;
  }

  .third_bg_left_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    text-align: center;
  }

  .third_bg_lower_para1 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
  }

  .third_bg_lower_para2 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 120%; */
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  /* -------------mobius_won_wrapper--------- */
  .mobius_won_content {
    width: 90%;
    min-height: 160px;
    max-height: fit-content;
    margin-top: 30%;
  }

  .content_nab-show {
    width: 300px;
  }

  .content_nab-show img {
    position: absolute;
    top: -100px;
    left: 132px;
    width: 150px !important;
    height: 150px;
    padding: 1%;
  }

  .content_text p {
    width: 300px !important;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    /* margin-top: 2%; */
    padding-top: 30px;
  }

  .winner_img {
    width: 500px;
    height: 120px !important;
  }

  .winner_img img {
    width: 90% !important;
  }

  .android_swiper_heading h1{
    font-size: 32px;
  }
}

@media screen and (max-width: 380px) and (min-width: 300px) {
  .Landing_top_bg {
    min-height: 800px;
    max-height: fit-content;
  }

  .bannerContentContainer {
    width: 90% !important;
    padding-top: 100px;
    min-height: 900px;
    max-height: fit-content;
  }

  .bannerContentContainer > h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
  }

  .bannerContentWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bannerContent {
    width: 70%;
  }

  .bannerContent > div > h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
  }

  .bannerContent > div > p {
    width: 130%;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    /* margin-bottom: 5%; */
    text-align: left;
  }
  /* 
    .bg_subheading {
      height: fit-content;
    } */
  .bannerContentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* column-gap: 20px;
      color: white; */
  }

  #getStartedBtn {
    display: flex;
    /* width: 325px; */
    width: 140%;
    height: 36px;
    padding: 30px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    box-sizing: border-box;
    /* padding: 10px 30px 10px 30px; */

    background: #ffa200;
    border: 1px solid #ffa200;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
  }

  #learnMoreBtn {
    margin: 5% auto !important;
  }

  /* .nexus_rightarrow img {
      color: white !important;
      fill: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto !important;
    } */

  /* ==========secong bg container============ */
  .second_bg_img-contaniner {
    min-height: 500px;
    max-height: fit-content;
    background: #000;
  }

  .mobile_view_img {
    display: block !important;
    padding-top: 70px;
    /* width: 100%; */
  }

  .mobile_view_img img {
    width: 100%;
    height: 300px;
  }

  .second_bg_content {
    /* width: 55%; */
    width: 90% !important;
    min-height: fit-content;
    margin: 10% 0;
    padding-left: 1%;
  }

  .second_bg_heading h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 43.191px;
    /* padding: 1% 0%; */
  }

  .second_bg_para1 p {
    width: 95%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 43.191px;
    padding: 5% 0% !important;
  }

  .second_bg_para2 p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
    /* padding: 1% 0%; */
  }

  /* third_bg_contaniner--------------------------------------------------- */

  .third_bg_contaniner {
    min-height: 800px;
    max-height: fit-content;
  }

  /* width resolution ------------ */
  .third_bg_content {
    width: 90% !important;
    max-height: fit-content;
  }

  .third_bg_upper {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .third_bg_upper div h1 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    text-transform: capitalize;
  }

  .third_bg_upper div p {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.132px;
  }

  .Ark_logo {
    width: 150px;
    padding: 1%;
  }
  .Ark_logo img {
    width: 100%;
  }

  .mobius_logo_ {
    width: 130px;
    padding: 1%;
  }

  .mobius_logo_ img {
    width: 160px;
    margin: 5px;
  }

  .third_bg_lower_horizontal {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    margin-top: 5%;
    flex-direction: column;
  }

  .third_bg_left_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
    text-align: center;
  }

  .third_bg_lower_para1 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  .third_bg_right_content {
    min-height: 300px;
    max-height: fit-content;
    width: 100%;
  }

  .third_bg_lower_para2 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 120%; */
    line-height: 30px;
    letter-spacing: -0.132px;
  }

  /* -------------mobius_won_wrapper--------- */
  .mobius_won_content {
    width: 90%;
    min-height: 160px;
    max-height: fit-content;
    margin-top: 30%;
  }

  .content_nab-show {
    width: 300px;
  }

  .content_nab-show img {
    position: absolute;
    top: -100px;
    left: 132px;
    width: 150px !important;
    height: 150px;
    padding: 1%;
  }

  .content_text p {
    width: 300px !important;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    /* margin-top: 2%; */
    padding-top: 30px;
  }

  .winner_img {
    width: 500px;
    height: 120px !important;
  }

  .winner_img img {
    width: 90% !important;
  }

  .android_swiper_heading h1{
    font-size: 32px;
  }
}
