.AppsPowered{
    width: 1700px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.AppsPowered > h1{
    font-weight: 700;
    font-size:55px;
    line-height: 75px;
    height: fit-content;
    color: #2B2B2B;
}


.appswipermain{
    /* margin-top: 24px; */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.appswiperheader{
    width:100%;
    display: flex;
    justify-content: center;
}

.mySwiper2landingpage{
    width:1700px
}

@media only screen and (max-width:1800px) and (min-width:1500px){
    .AppsPowered{
        width: 1420px;
    }

    .mySwiper2landingpage{
        width:1420px
    }
    .AppsPowered > h1{
        font-weight: 700;
        font-size:50px;
        line-height: 75px;
        height: fit-content;
        color: #2B2B2B;
    }
}
@media only screen and (max-width:1500px) and (min-width:1250px){
    .AppsPowered{
        width: 1200px;
    }

    .mySwiper2landingpage{
        width:1200px
    }
    .AppsPowered > h1{
        font-weight: 700;
        font-size:50px;
        line-height: 75px;
        height: fit-content;
        color: #2B2B2B;
    }
}
@media only screen and (max-width:1250px) and (min-width:980px){
    .AppsPowered{
        width: 950px;
    }

    .mySwiper2landingpage{
        width:950px
    }
    .AppsPowered > h1{
        font-weight: 700;
        font-size:45px;
        line-height: 70px;
        height: fit-content;
        color: #2B2B2B;
    }
}
@media only screen and (max-width:980px){
    .AppsPowered{
        width: 90%;
    }
    .mySwiper2landingpage{
        width:90%
    }
    .AppsPowered > h1{
        font-weight: 700;
        font-size:45px;
        line-height: 70px;
        height: fit-content;
        color: #2B2B2B;
    }

}
@media screen and (max-width:600px){
    .mySwiper2landingpage > .swiper-slide{
        margin-left: 0px ;
    }
    .AppsPowered > h1{
        font-weight: 700;
        font-size:40px;
        line-height: 60px;
        height: fit-content;
        color: #2B2B2B;
    }
}