.swipermenu {
  width: 90%;
  position: relative;
}

.swipermenu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  height: 200% !important;
  background: linear-gradient(
    to right,
    rgba(0, 93, 164, 0.1),
    rgba(0, 93, 164, 0.1)
  );
  pointer-events: none;
}

#content img{
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #content img{
        width: 65px;
        height: 70px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    #content img{
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
    #content img{
        width: 30px;
        height: 30px;
    }
    .swipermenu {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 540px) {
  .swipermenu {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100% !important ;
  }
  #content {
    /* margin-left: 1rem !important; */
    width: 10rem !important;
    /* background-color: blueviolet; */
  }
}

@media only screen and (max-width: 540px) and (min-width: 400px) {
  .swipermenu {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100% !important ;
  }
  #content {
    /* margin-left: 1rem !important; */
    width: 6rem !important;
    /* background-color: blueviolet; */
  }
}
